Repository g3rv4/GetMoarFediverse, pull requests merged in 2022-12, with the labels that each got.

#22 Keep the artifact name consistent across releases
  .github/release.yml
  .github/workflows/create-release.yml
Labels: release-improvement

#23 Add GH action
  action.yml
Labels: new-feature

#24 Readme updates
  README.md
Labels: ignore-for-release

#29 Create an ARM docker image as well
  .github/workflows/build.yml
  .github/workflows/create-release.yml
  Dockerfile
Labels: release-improvement
